# Boilerplate Demographic data analyzer üë®üèª‚Äçüíª

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/adult_data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
salary            object
dtype: object

In [4]:
 # How many of each race are represented in this dataset? 
 # This should be a Pandas series with race names as the index labels.
 
 race = df['race'].value_counts()
 race

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [52]:
# What is the average age of men?

male_df = df[df['sex']== 'Male']
average_age_men = male_df['age'].mean()
average_age_men

39.43354749885268

In [6]:
# What is the percentage of people who have a Bachelor's degree?
bachelors_df = df[df['education'] == 'Bachelors']
percentage_bachelors = (bachelors_df['education'].count()/df['education'].count()) * 100
percentage_bachelors

16.44605509658794

In [7]:
df['education'].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [8]:
    # What percentage of people with advanced education (`Bachelors`, `Masters`, or                 `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?
    # with and without `Bachelors`, `Masters`, or `Doctorate`
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
higher_df = df[df['education'].isin(advanced_education)]
higher_education_rich_percentage = (higher_df['salary'] == '>50K').mean() * 100
without_higher_df = df[~df['education'].isin(advanced_education)]
lower_education_rich_percentage = (without_higher_df['salary'] == '>50K').mean() * 100

In [9]:
higher_education_rich_percentage

46.535843011613935

In [10]:
lower_education_rich_percentage

17.3713601914639

In [11]:
# What is the minimum number of hours a person works per week (hours-per-week feature)
min_hours = df['hours-per-week'].min()

In [12]:
df['hours-per-week'].unique()

array([40, 13, 16, 45, 50, 80, 30, 35, 60, 20, 52, 44, 15, 25, 38, 43, 55,
       48, 58, 32, 70,  2, 22, 56, 41, 28, 36, 24, 46, 42, 12, 65,  1, 10,
       34, 75, 98, 33, 54,  8,  6, 64, 19, 18, 72,  5,  9, 47, 37, 21, 26,
       14,  4, 59,  7, 99, 53, 39, 62, 57, 78, 90, 66, 11, 49, 84,  3, 17,
       68, 27, 85, 31, 51, 77, 63, 23, 87, 88, 73, 89, 97, 94, 29, 96, 67,
       82, 86, 91, 81, 76, 92, 61, 74, 95])

In [13]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_hours_df = df[df['hours-per-week'] == min_hours]

nun_min_workers = min_hours_df['salary'] == '>50K'


rich_percentage = percentage = (min_hours_df['salary'] == '>50K').mean() * 100

In [14]:
min_hours_df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
189,58,State-gov,109567,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,1,United-States,>50K
1036,66,Self-emp-inc,150726,9th,5,Married-civ-spouse,Exec-managerial,Husband,White,Male,1409,0,1,?,<=50K
1262,69,?,195779,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5590,78,?,363134,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
5632,45,?,189564,Masters,14,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5766,62,?,97231,Some-college,10,Married-civ-spouse,?,Wife,White,Female,0,0,1,United-States,<=50K
5808,76,?,211574,10th,6,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,<=50K
8447,67,?,244122,Assoc-voc,11,Widowed,?,Not-in-family,White,Female,0,0,1,United-States,<=50K
9147,75,?,260543,10th,6,Widowed,?,Other-relative,Asian-Pac-Islander,Female,0,0,1,China,<=50K
11451,27,Private,147951,HS-grad,9,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,1,United-States,<=50K
19337,72,?,76860,HS-grad,9,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,1,United-States,<=50K
19750,23,Private,72887,HS-grad,9,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,1,Vietnam,<=50K
20072,65,?,76043,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,1,United-States,>50K
20909,77,Self-emp-not-inc,71676,Some-college,10,Widowed,Adm-clerical,Not-in-family,White,Female,0,1944,1,United-States,<=50K
22960,21,Private,184135,HS-grad,9,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,1,United-States,<=50K
23536,69,?,320280,Some-college,10,Never-married,?,Not-in-family,White,Male,1848,0,1,United-States,<=50K
24284,57,Self-emp-not-inc,56480,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,1,United-States,<=50K
25078,74,Private,260669,10th,6,Divorced,Other-service,Not-in-family,White,Female,0,0,1,United-States,<=50K
29752,69,?,117525,Assoc-acdm,12,Divorced,?,Unmarried,White,Female,0,0,1,United-States,<=50K
32525,81,?,120478,Assoc-voc,11,Divorced,?,Unmarried,White,Female,0,0,1,?,<=50K

In [15]:
nun_min_workers

189       True
1036     False
1262     False
5590     False
5632     False
5766     False
5808     False
8447     False
9147     False
11451    False
19337    False
19750    False
20072     True
20909    False
22960    False
23536    False
24284    False
25078    False
29752    False
32525    False
Name: salary, dtype: bool

In [16]:
print(rich_percentage)

10.0

In [27]:
  # What country has the highest percentage of people that earn >50K?
rich_df = df[df['salary'] == '>50K']
rich_df['native-country'].value_counts()

native-country
United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: count, dtype: int64

In [57]:
rich_percentages = df[df['salary'] == '>50K']
country_percentages = rich_percentages['native-country'].value_counts() * 100

In [64]:
country_income_percentage = df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()
country_income_percentage.idxmax()

'Iran'

In [58]:
country_percentages

native-country
United-States         717100
?                      14600
Philippines             6100
Germany                 4400
India                   4000
Canada                  3900
Mexico                  3300
England                 3000
Italy                   2500
Cuba                    2500
Japan                   2400
Taiwan                  2000
China                   2000
Iran                    1800
South                   1600
Puerto-Rico             1200
Poland                  1200
France                  1200
Jamaica                 1000
El-Salvador              900
Greece                   800
Cambodia                 700
Hong                     600
Yugoslavia               600
Ireland                  500
Vietnam                  500
Portugal                 400
Haiti                    400
Ecuador                  400
Thailand                 300
Hungary                  300
Guatemala                300
Scotland                 300
Nicaragua                200
Trinadad&Tobago          200
Laos                     200
Columbia                 200
Dominican-Republic       200
Peru                     200
Honduras                 100
Name: count, dtype: int64

In [44]:
# Filter the data for individuals with >50K salary and from India
high_income_df = df[df['salary'] == '>50K']
#india_high_income = high_income_df['native-country'] == 'India'
# Find the most popular occupation
#most_popular_occupation = india_high_income['occupation'].value_counts().idxmax()

In [51]:
india_high_income = high_income_df[high_income_df['native-country'] == 'India']
india_high_income

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
968,48,Private,164966,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
1327,52,Private,168381,HS-grad,9,Widowed,Other-service,Unmarried,Asian-Pac-Islander,Female,0,0,40,India,>50K
7258,42,State-gov,102343,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,72,India,>50K
7285,54,State-gov,93449,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
8124,36,Private,172104,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Other,Male,0,0,40,India,>50K
9939,43,Federal-gov,325706,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
10590,35,Private,98283,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,40,India,>50K
10661,59,Private,122283,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,99999,0,40,India,>50K
10736,30,Private,243190,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,20,India,>50K
11260,54,Private,225599,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7298,0,40,India,>50K
11384,34,Private,98283,Prof-school,15,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,1564,40,India,>50K
13422,53,Private,366957,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,50,India,>50K
13551,40,Private,220977,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
13862,45,Private,209912,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16017,41,Private,207578,Assoc-acdm,12,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,50,India,>50K
16778,43,Private,242968,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
16923,41,Private,143003,Assoc-voc,11,Married-civ-spouse,Other-service,Husband,Asian-Pac-Islander,Male,7298,0,60,India,>50K
17259,57,Self-emp-inc,123053,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,15024,0,50,India,>50K
17834,29,Self-emp-not-inc,341672,HS-grad,9,Married-spouse-absent,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,1564,50,India,>50K
20417,42,Self-emp-inc,23510,Masters,14,Divorced,Exec-managerial,Unmarried,Asian-Pac-Islander,Male,0,2201,60,India,>50K
20465,39,Private,198654,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,2415,67,India,>50K
21128,30,Private,122889,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
23474,55,State-gov,120781,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24154,46,Private,229737,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,India,>50K
25739,35,Self-emp-inc,79586,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26305,27,Private,207352,Bachelors,13,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
26356,34,Private,99872,Masters,14,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,3103,0,40,India,>50K
27670,61,Private,80896,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,India,>50K
28264,51,Self-emp-not-inc,120781,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Other,Male,99999,0,70,India,>50K
28433,42,Private,198341,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1902,55,India,>50K
28452,53,Private,70387,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,4386,0,40,India,>50K
28557,34,Private,165737,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,43,India,>50K
28651,45,Self-emp-not-inc,216402,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,50,India,>50K
28798,30,Self-emp-not-inc,116666,Masters,14,Divorced,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,50,India,>50K
30111,41,Federal-gov,219155,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,India,>50K
30152,48,Private,119471,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
30833,25,Private,110978,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,37,India,>50K
31327,38,State-gov,125499,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,7688,0,60,India,>50K
31357,23,Private,143003,Masters,14,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,1887,50,India,>50K

In [45]:
india_high_income.value_counts()

native-country
False    7801
True       40
Name: count, dtype: int64

In [61]:
country_income_percentage = df[df['salary'] == '>50K']['native-country'].value_counts() / df['native-country'].value_counts()
country_income_percentage

native-country
?                             0.250429
Cambodia                      0.368421
Canada                        0.322314
China                         0.266667
Columbia                      0.033898
Cuba                          0.263158
Dominican-Republic            0.028571
Ecuador                       0.142857
El-Salvador                   0.084906
England                       0.333333
France                        0.413793
Germany                       0.321168
Greece                        0.275862
Guatemala                     0.046875
Haiti                         0.090909
Holand-Netherlands                 NaN
Honduras                      0.076923
Hong                          0.300000
Hungary                       0.230769
India                         0.400000
Iran                          0.418605
Ireland                       0.208333
Italy                         0.342466
Jamaica                       0.123457
Japan                         0.387097
Laos                          0.111111
Mexico                        0.051322
Nicaragua                     0.058824
Outlying-US(Guam-USVI-etc)         NaN
Peru                          0.064516
Philippines                   0.308081
Poland                        0.200000
Portugal                      0.108108
Puerto-Rico                   0.105263
Scotland                      0.250000
South                         0.200000
Taiwan                        0.392157
Thailand                      0.166667
Trinadad&Tobago               0.105263
United-States                 0.245835
Vietnam                       0.074627
Yugoslavia                    0.375000
Name: count, dtype: float64